<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Notification Email</title>
</head>
<body style="margin: 0;padding: 0;">
    <table>
        <tbody>
            <tr>
            <td>Hello <%= name %></td>
            </tr>
            <tr>
                <span style="color:#e57373;">Warning: Running Low on disk space in at lease one of the locations</span>
            </tr>
            <table>
                <tr>
                    <th>Total Space</th>
                    <th>Free Space</th>
                </tr>
                <% for(var i=0; i<status.length; i++) {%>
                    <tr style="<%= status[i].warning ? 'color: #e57373;' : '' %>">
                        <td><%= status[i].path %></td>
                        <td><%= status[i].total %> GB</td>
                        <td><%= status[i].free %> GB</td>
                    </tr>
                <% } %>
                
            </table>
        </tbody>
    </table>
</body>
</html>
